@import "tailwindcss";


#back {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/group-of-company-img.jpeg');
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #back {
        height: 15rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #back {
        height: 20rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #back {
        height: 25rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #back {
        height: 35rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #back {
        height: 35rem;
    }
}


.swiper-pagination {
    bottom: 0;
    position: relative;
}

.swiper-container {
    overflow: hidden;
}
.swiper-pagination-bullet{
    background-color:rgb(14 211 207);
}
.swiper-pagination-bullet-active{
    background-color:rgb(14 211 207);
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffff;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}